img {
    background-color: #f2f2f2;
    border-radius: 8px;
    width: 200px;
}

.detalhe {
    font-family: Roboto, arial, sans-serif;
}

h5 {
    text-transform: capitalize;
    margin: 0px;
}

span.numero {
    color: #919191;
    font-weight: bold;
}

button.tipo {
    padding: 2px 10px;
    color: white;
    font-size: 11px;
    max-width: 110px;
    border: 0px;
    border-radius: 3px;
}

.pokemon-link{
    text-decoration: none;
}

.inseto {
    background-color: #91a119;
}

.sombrio {
    background-color: #624d4e;
}

.dragao {
    background-color: #5060e1;
}

.eletrico {
    background-color: #fac000;
}

.fada {
    background-color: #ef70ef;
}

.lutador {
    background-color: #ff8000;
}

.fogo {
    background-color: #e62829;
}

.voador {
    background-color: #81b9ef;
}

.fantasma {
    background-color: #704170;
}

.planta {
    background-color: #3fa129;
}


.terrestre {

    background-color: #915121;
}

.gelo {
    background-color: #3dcef3;
}

.normal {
    background-color: #9fa19f;
}

.venenoso {
    background-color: #9141cb;
}

.psiquico {
    background-color: #ef4179;
}

.pedra {
    background-color: #afa981;
}

.aco {

    background-color: #60a1b8;
}

.agua {
    background-color: #2980ef;
}