<app-campo [id]="nome" label="Nome" tipo="text" [variavel]="nome" [required]="true"></app-campo>
<app-campo [id]="sobrenome" label="Sobrenome" tipo="text" [variavel]="sobrenome" [required]="true"></app-campo>
<app-campo [id]="nota1" label="Nota 1" tipo="number" [variavel]="nota1" [required]="true"></app-campo>
<app-campo [id]="nota2" label="Nota 2" tipo="number" [variavel]="nota2"></app-campo>
<app-campo [id]="nota3" label="Nota 3" tipo="number" [variavel]="nota3"></app-campo>
<app-campo [id]="frequencia" label="Frequencia" tipo="number" [variavel]="frequencia"></app-campo>

<div class="botao-cadastro">
    <button (click)="salvar()">Salvar</button>
</div>